<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enoch.studio.mapper.UserMapper">
    <select id="getUserByID" resultType="com.enoch.studio.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
    <select id="getAllUser" resultType="com.enoch.studio.entity.User">
        SELECT * FROM user
    </select>
    <insert id="insertUser" parameterType="com.enoch.studio.entity.User">
        INSERT INTO user (username,password,sex) VALUES (#{username},#{password},#{sex})
    </insert>
</mapper>